body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;

}
:root{
    --primary-color: #FFFFFF;
    --secondary-color: #000000 ;
}

.dark-theme{
    background-color:var(--secondary-color) ;
    color: var(--primary-color);
}
i{
    cursor: pointer;
}
 .card-container{
    margin: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    width: 100%;
  margin-inline:auto;
 }
.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

#info-card {
    text-align: center;
}

.field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.label {
    font-weight: bold;
    color: #555;
    flex: 1;
}

#user-info span {
    flex: 2;
    color: #444;
    text-align: left;
    padding-left: 10px;
}

